@{
    ViewBag.Title = "Settings";
}

<head>
    <link href="~/Content/accountsettings.css" rel="stylesheet" />
</head>


<p class="text-success">@ViewBag.StatusMessage</p>
<div class="settings-area">
    @Html.Partial("_PartialAccountMenu")
    <div class="settingscol">
        <h2>@ViewBag.Title.</h2>
        FOSTERING AVAILIBILITY:
        BUTTON

        DEACTIVATE ACCOUNT:
        OH SHIT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

    </div>
    </div>
