
@{
    ViewBag.Title = "SurrenderAnimalFormSubmit";
}

<div class="container-fluid" style="height: 100%;">
    <div class="row">
        <div class="col mr-5 ml-5 mt-2" style="background-color: #9EC1B0; min-height: 90vh;"></div>
        <div class="col-6 mt-2">
            <div class="form-horizontal text-center">
                <div class="col-md-10">
                    <br />
                    <br />
                    <br />
                    <h2>Your form has sucessfully been submitted.</h2>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <div class="col mr-5 ml-5 mt-2" style="background-color: #9EC1B0; min-height: 90vh;"></div>
    </div>
</div>