
@{
    ViewBag.Title = "SurrenderSplash";
}

<div class="container-fluid" style="height: 100%;">
    <div class="row">
        <div class="col mr-5 ml-5 mt-2" style="background-color: #9EC1B0; min-height: 90vh;"></div>
        <div class="col-6 mt-2">
            <div class="form-horizontal text-center">
                <div class="col-md-10">
                    <br />
                    <h1>We're here to help.</h1>
                    It's never easy to rehome a pet, whether they are just not the right fit for your family, or if life takes an unexpected turn. Our partners on PetNet understand this and want to make this process as pain free as possible.
                    <br />
                    All you need to do is fill out our quick 1-minute questionaire, and you should expect a local shelter to reach out to you to create a game plan.
                    <br />
                    <br />
                    <br /> 
                    <button class ="btn btn-primary" value="Continue">
                        @Html.ActionLink("Continue", "SurrenderAnimalForm")
                    </button>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    Additional questions? Please reach out to shelters in your area for help.
                </div>
            </div>
        </div>
        <div class="col mr-5 ml-5 mt-2" style="background-color: #9EC1B0; min-height: 90vh;"></div>
    </div>
</div>

