@{
    ViewBag.Title = "About Us";
}

@section styles{
    <link href="~/Content/about-us.css" rel="stylesheet"/>
}

<div class="container">
    <div class="container-about">
        <h2>About Us</h2>
        <p>
            Kirkwood Comunity College Class of 2023 making a large scale of software
            as a group in hopes of impressing the glorious Mr.Glasgow
        </p>
        <h4>Our Mission</h4>
        <p>To pass our class</p>
    </div>
    
</div>
