@{
    ViewBag.Title = "Terms of Service";
}

@section styles{
    <link href="~/Content/about-us.css" rel="stylesheet" />
}

<div class="container">
    <br/>
    <h2 class="text-center">Terms of Service</h2>
    <div class="container-about">
        <p>
            Kirkwood Comunity College Class of 2023 making a large scale of software
            as a group in hopes of impressing the glorious Mr.Glasgow.
        </p>
        <p>
            Don't be a bad person. Use common sense.
        </p>
    </div>

</div>
